.p-button,
.p-button:enabled:hover,
.p-button:not(button):not(a):not(.p-disabled):hover,
.p-button:enabled:active,
.p-button:not(button):not(a):not(.p-disabled):active,
.p-button:focus {
  background-color: #fff;
  color: #919191c7;
  border: 1px solid #919191c7;
  border-radius: 5px;
  box-shadow: none;
  /* padding: 10px; */
  /* font-size: 14px; */
  /* font-weight: bold;*/
}